<!DOCTYPE html>
<html lang="es">
<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/jquery/jquery.min.js"></script>
    <script src="/bootstrap/popper.min.js"></script>
    <script src="/bootstrap/bootstrap.min.js"></script>

</head>
<body>

<div class="contenidor">
    <div class="contingut">
        <br>
        <div>
            <h4 class="gestiounidad">Actualice la solicitud: </h4>
            <br><br>

            <form method="post" action="/solicitudes/anyadir" onsubmit="return validarSolicitud()">
                <div class="row">
                    <div class="col" style="margin-left: 2%; margin-right: 2%">
                        <table id="table" class="table table-bordered table-sm mx-auto w-auto">
                            <thead>
                            <tr>
                                <th>COLECTIVO</th>
                                <th>UNIDAD</th>
                                <th>TURNO</th>
                                <th>FECHA</th>
                                <th>LICENCIA</th>
                                <th>CUBRE</th>
                                <th>NOTAS</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="align-middle">
                                    <select id="colectivo" name="colectivo">
                                        <% if (JSON.parse(colectiuTreball) === 'DUES') { %>
                                            <option value="DUES" selected>DUES</option>
                                            <option value="AES">AES</option>
                                        <% } %>
                                        <% if (JSON.parse(colectiuTreball) === 'AES') { %>
                                            <option value="DUES">DUES</option>
                                            <option value="AES" selected>AES</option>
                                        <% } %>
                                    </select>
                                </td>
                                <td class="align-middle">
                                    <select id="unidad" name="unidad"  style="vertical-align: middle"></select>
                                </td>
                                <td class="align-middle">
                                    <select id="turno" name="turno" >
                                        <option value="M">M</option>
                                        <option value="T">T</option>
                                        <option value="N">N</option>
                                    </select>
                                </td>
                                <td class="align-middle">
                                    <input type="date" id="data" name="fecha" class="border-0" style="color: blue; vertical-align: middle"
                                        value="<%- JSON.parse(anyActual) %>-<%- JSON.parse(mes) %>-<%- JSON.parse(dia) %>"
                                        min="<%- JSON.parse(anyActual) %>-01-01"
                                        max="<%- JSON.parse(anyActual) %>-12-31"
                                    >
                                </td>
                                <td class="align-middle">
                                    <select id="licencia" name="licencia" style="vertical-align: middle">
                                    </select>
                                </td>
                                <td class="align-middle">
                                    <select id="cubre" name="cubre" style="vertical-align: middle">
                                        <option value="" disabled selected hidden></option>
                                    </select>
                                </td>
                                <td class="align-middle">
                                    <textarea id="notas" name="notas" class="border-0" style="color: blue; vertical-align: middle"></textarea>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div><br><br>
                <div class="btn btn-group rounded">
                    <button id="cancelar" type="button" class="btn btn-secondary">Cancelar</button>
                </div>
                <div class="btn btn-group rounded">
                    <button type="submit" class="btn btn-success">Añadir</button>
                </div>
            </form>

        </div>
    </div>
</div>

</body>

<script>

    <%- unidades %>.forEach((unitat) => {
        $('#unidad').append('<option value="' + unitat.unidad + '">' + unitat.unidad + '</option>');
    });
    $('#unidad option:contains(<%- unidad %>)').prop('selected', true);

    $('#turno option:contains(<%- turno %>)').prop('selected', true);

    <%- licencias %>.forEach((llicencia) => {
        $('#licencia').append('<option value="' + llicencia.licencia + '">' + llicencia.licencia + '</option>');
    });
    $('#licencia option:contains(<%- licencia %>)').prop('selected', true);


    if (<%- colectiuTreball %> === 'DUES') {
        $('#cubre').prepend('<option value="">' + "" + '</option>');
        <%- sustitutos %>.forEach((substitut) => {
            if (substitut.categoria === 'DUES') {
                $('#cubre').append('<option value="' + substitut.nom + '">' + substitut.nom + '</option>');
            }
        })
    } else {
        $('#cubre').prepend('<option value="">' + "" + '</option>');
        <%- sustitutos %>.forEach((substitut) => {
            if (substitut.categoria === 'AES') {
                $('#cubre').append('<option value="' + substitut.nom + '">' + substitut.nom + '</option>');
            }
        })
    }
    $('#cubre options:contains(<%- cubre %>)').prop('selected', true);


    $('#cancelar').click(function () {
        window.location.href = '/solicitudes'
    });

    function validarSolicitud() {

        let totOK = true

        if ($('#unidad option:selected').text() === '') {
            alert('Debe indicar una unidad.')
            totOK = false
        }

        if ($('#turno option:selected').text() === '') {
            alert('Debe indicar un turno.')
            totOK = false
        }

        console.log($('#data').val());
        if ($('#data').val() === "") {
            alert('Debe indicar una fecha.')
            totOK = false
        }

        if ($('#licencia option:selected').text() === '') {
            alert('Debe indicar una licencia.')
            totOK = false
        }

        return totOK

    }

</script>

</html>

