<!-- "SOLICITUDES", "DUES", "AES", botons... -->
<div id="divBotons" class="container-fluid">
    <div class="row">
        <div class="col">
            <h2 class="text-primary text-center">SOLICITUDES</h2>
        </div>
        <div class="col">
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a id="tabDues" class="nav-link" data-toggle="pill" href="#dues">DUES</a>
                </li>
                <li class="nav-item">
                    <a id="tabAes" class="nav-link" data-toggle="pill" href="#aes">AES</a>
                </li>
            </ul>
        </div>
        <div class="col btn-group contenedor">
            <% if (levelAccess === 'admin') { %>
                <button id="eliminar" class="btn btn-danger rounded contenido">Eliminar</button>
                <button id="actualizar" class="btn btn-warning rounded contenido">Actualizar</button>
            <% } %>
            <button id="anyadir" class="btn btn-success rounded contenido">Añadir</button>
        </div>
    </div>
</div>

<!-- ROW PER A MOSTRAR ES MESOS -->
<div id="mesos" class="row">
    <div class="col">
        <!-- Tab panes -->
        <div class="tab-content">
            <!-- mesos dues -->
            <div class="tab-pane container active" id="dues">
                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <a id="tabDuesEnero" onclick="loadTable(<%= dadesDuesEnero %>)" class="mesosDues nav-link" data-toggle="pill" href="#">Enero</a>
                    </li>
                    <li class="nav-item">
                        <a id="tabDuesFebrero" onclick="loadTable(<%= dadesDuesFebrero %>)" class="mesosDues nav-link" data-toggle="pill" href="#">Febrero</a>
                    </li>
                    <li class="nav-item">
                        <a id="tabDuesMarzo" onclick="loadTable(<%= dadesDuesMarzo %>)" class="mesosDues nav-link" data-toggle="pill" href="#">Marzo</a>
                    </li>
                    <li class="nav-item">
                        <a id="tabDuesAbril" onclick="loadTable(<%= dadesDuesAbril %>)" class="mesosDues nav-link" data-toggle="pill" href="#">Abril</a>
                    </li>
                    <li class="nav-item">
                        <a id="tabDuesMayo" onclick="loadTable(<%= dadesDuesMayo %>)" class="mesosDues nav-link" data-toggle="pill" href="#">Mayo</a>
                    </li>
                    <li class="nav-item">
                        <a id="tabDuesJunio" onclick="loadTable(<%= dadesDuesJunio %>)" class="mesosDues nav-link" data-toggle="pill" href="#">Junio</a>
                    </li>
                    <li class="nav-item">
                        <a id="tabDuesJulio" onclick="loadTable(<%= dadesDuesJulio %>)" class="mesosDues nav-link" data-toggle="pill" href="#">Julio</a>
                    </li>
                    <li class="nav-item">
                        <a id="tabDuesAgosto" onclick="loadTable(<%= dadesDuesAgosto %>)" class="mesosDues nav-link" data-toggle="pill" href="#">Agosto</a>
                    </li>
                    <li class="nav-item">
                        <a id="tabDuesSetiembre" onclick="loadTable(<%= dadesDuesSeptiembre %>)" class="mesosDues nav-link" data-toggle="pill" href="#">Setiembre</a>
                    </li>
                    <li class="nav-item">
                        <a id="tabDuesOctubre" onclick="loadTable(<%= dadesDuesOctubre %>)" class="mesosDues nav-link" data-toggle="pill" href="#">Octubre</a>
                    </li>
                    <li class="nav-item">
                        <a id="tabDuesNoviembre" onclick="loadTable(<%= dadesDuesNoviembre %>)" class="mesosDues nav-link" data-toggle="pill" href="#">Noviembre</a>
                    </li>
                    <li class="nav-item">
                        <a id="tabDuesDiciembre" onclick="loadTable(<%= dadesDuesDiciembre %>)" class="mesosDues nav-link" data-toggle="pill" href="#">Diciembre</a>
                    </li>
                </ul>
            </div>
            <!-- mesos aes -->
            <div class="tab-pane container" id="aes">
                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <a id="tabAesEnero" onclick="loadTable(<%= dadesAesEnero %>)" class="mesosAes nav-link" data-toggle="pill" href="#">Enero</a>
                    </li>
                    <li class="nav-item">
                        <a id="tabAesFebrero" onclick="loadTable(<%= dadesAesFebrero %>)" class="mesosAes nav-link" data-toggle="pill" href="#">Febrero</a>
                    </li>
                    <li class="nav-item">
                        <a id="tabAesMarzo" onclick="loadTable(<%= dadesAesMarzo %>)" class="mesosAes nav-link" data-toggle="pill" href="#">Marzo</a>
                    </li>
                    <li class="nav-item">
                        <a id="tabAesAbril" onclick="loadTable(<%= dadesAesAbril %>)" class="mesosAes nav-link" data-toggle="pill" href="#">Abril</a>
                    </li>
                    <li class="nav-item">
                        <a id="tabAesMayo" onclick="loadTable(<%= dadesAesMayo %>)" class="mesosAes nav-link" data-toggle="pill" href="#">Mayo</a>
                    </li>
                    <li class="nav-item">
                        <a id="tabAesJunio" onclick="loadTable(<%= dadesAesJunio %>)" class="mesosAes nav-link" data-toggle="pill" href="#">Junio</a>
                    </li>
                    <li class="nav-item">
                        <a id="tabAesJulio" onclick="loadTable(<%= dadesAesJulio %>)" class="mesosAes nav-link" data-toggle="pill" href="#">Julio</a>
                    </li>
                    <li class="nav-item">
                        <a id="tabAesAgosto" onclick="loadTable(<%= dadesAesAgosto %>)" class="mesosAes nav-link" data-toggle="pill" href="#">Agosto</a>
                    </li>
                    <li class="nav-item">
                        <a id="tabAesSetiembre" onclick="loadTable(<%= dadesAesSeptiembre %>)" class="mesosAes nav-link" data-toggle="pill" href="#">Setiembre</a>
                    </li>
                    <li class="nav-item">
                        <a id="tabAesOctubre" onclick="loadTable(<%= dadesAesOctubre %>)" class="mesosAes nav-link" data-toggle="pill" href="#">Octubre</a>
                    </li>
                    <li class="nav-item">
                        <a id="tabAesNoviembre" onclick="loadTable(<%= dadesAesNoviembre %>)" class="mesosAes nav-link" data-toggle="pill" href="#">Noviembre</a>
                    </li>
                    <li class="nav-item">
                        <a id="tabAesDiciembre" onclick="loadTable(<%= dadesAesDiciembre %>)" class="mesosAes nav-link" data-toggle="pill" href="#">Diciembre</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- taula -->
<div id="tableContainer" class="row">
    <div class="col">
        <table id="table" class="table table-bordered table-sm table-hover">
            <thead>
            <tr>
                <th>ID</th>
                <th>COLECTIVO</th>
                <th>UNIDAD</th>
                <th>TURNO</th>
                <th>FECHA</th>
                <th>LICENCIA</th>
                <th>CUBRE</th>
                <th>NOTAS</th>
            </tr>
            </thead>
        </table>
    </div>
</div>

<script>

    const {app} = require("../../app.mjs");

    if (app.locals.colectiuTreball === 'DUES') {
        console.log('colectiu DUES')
    }

    /*let colectiuActual = <%- colectiuActual %>;
    let mesActual = <%- mesActual %>;

    let alturaScrollY = $(window).height()
        - $('#linksGransIPetits').height()
        - $('#divBotons').height()
        - $('#mesos').height()
        - 60 + 'px';

    let idSolicitud = null;
    let taula = null;*/

    /*switch (<%- colectiuActual %>) {
        case 'DUES':
            $('#tabDues').removeClass('fade').addClass('active')
            switch (<%- mesActual %>) {
                case 1:
                    $('#tabDuesEnero').addClass('active');
                    loadTable(<%- dadesDuesEnero %>);
                    break;
                case 2:
                    $('#tabDuesFebrero').addClass('active');
                    loadTable(<%- dadesDuesFebrero %>);
                    break;
                case 3:
                    $('#tabDuesMarzo').addClass('active');
                    loadTable(<%- dadesDuesMarzo %>);
                    break;
                case 4:
                    $('#tabDuesAbril').addClass('active');
                    loadTable(<%- dadesDuesAbril %>);
                    break;
                case 5:
                    $('#tabDuesMayo').addClass('active');
                    loadTable(<%- dadesDuesMayo %>);
                    break;
                case 6:
                    $('#tabDuesJunio').addClass('active');
                    loadTable(<%- dadesDuesJunio %>);
                    break;
                case 7:
                    $('#tabDuesJulio').addClass('active');
                    loadTable(<%- dadesDuesJulio %>);
                    break;
                case 8:
                    $('#tabDuesAgosto').addClass('active');
                    loadTable(<%- dadesDuesAgosto %>);
                    break;
                case 9:
                    $('#tabDuesSetiembre').addClass('active');
                    loadTable(<%- dadesDuesSeptiembre %>);
                    break;
                case 10:
                    $('#tabDuesOctubre').addClass('active');
                    loadTable(<%- dadesDuesOctubre %>);
                    break;
                case 11:
                    $('#tabDuesNoviembre').addClass('active');
                    loadTable(<%- dadesDuesNoviembre %>);
                    break;
                case 12:
                    $('#tabDuesDiciembre').addClass('active');
                    loadTable(<%- dadesDuesDiciembre %>);
                    break;
                default:
                    break
            }
            break
        case 'AES':
            $('#tabAes').removeClass('fade').addClass('active')
            switch (<%- mesActual %>) {
                case 1:
                    $('#tabAesEnero').addClass('active');
                    loadTable(<%- dadesAesEnero %>);
                    break;
                case 2:
                    $('#tabAesFebrero').addClass('active');
                    loadTable(<%- dadesAesFebrero %>);
                    break;
                case 3:
                    $('#tabAesMarzo').addClass('active');
                    loadTable(<%- dadesAesMarzo %>);
                    break;
                case 4:
                    $('#tabAesAbril').addClass('active');
                    loadTable(<%- dadesAesAbril %>);
                    break;
                case 5:
                    $('#tabAesMayo').addClass('active');
                    loadTable(<%- dadesAesMayo %>);
                    break;
                case 6:
                    $('#tabAesJunio').addClass('active');
                    loadTable(<%- dadesAesJunio %>);
                    break;
                case 7:
                    $('#tabAesJulio').addClass('active');
                    loadTable(<%- dadesAesJulio %>);
                    break;
                case 8:
                    $('#tabAesAgosto').addClass('active');
                    loadTable(<%- dadesAesAgosto %>);
                    break;
                case 9:
                    $('#tabAesSetiembre').addClass('active');
                    loadTable(<%- dadesAesSeptiembre %>);
                    break;
                case 10:
                    $('#tabAesOctubre').addClass('active');
                    loadTable(<%- dadesAesOctubre %>);
                    break;
                case 11:
                    $('#tabAesNoviembre').addClass('active');
                    loadTable(<%- dadesAesNoviembre %>);
                    break;
                case 12:
                    $('#tabAesDiciembre').addClass('active');
                    loadTable(<%- dadesAesDiciembre %>);
                    break;
                default:
                    break
            }
            break
    }*/
    
    /*loadTab();

    function loadTab() {
        switch (colectiuActual) {
            case 'DUES':
                $('#tabDues').removeClass('fade').addClass('active')
                $('#tabAes').removeClass('active').addClass('fade')
                switch (mesActual) {
                    case 1:
                        $('#tabDuesEnero').addClass('active');
                        loadTable(dadesDuesEnero);
                        break;
                    case 2:
                        $('#tabDuesFebrero').addClass('active');
                        loadTable(dadesDuesFebrero);
                        break;
                    case 3:
                        $('#tabDuesMarzo').addClass('active');
                        loadTable(dadesDuesMarzo);
                        break;
                    case 4:
                        $('#tabDuesAbril').addClass('active');
                        loadTable(dadesDuesAbril);
                        break;
                    case 5:
                        $('#tabDuesMayo').addClass('active');
                        loadTable(dadesDuesMayo);
                        break;
                    case 6:
                        $('#tabDuesJunio').addClass('active');
                        loadTable(dadesDuesJunio);
                        break;
                    case 7:
                        $('#tabDuesJulio').addClass('active');
                        loadTable(dadesDuesJulio);
                        break;
                    case 8:
                        $('#tabDuesAgosto').addClass('active');
                        loadTable(dadesDuesAgosto);
                        break;
                    case 9:
                        $('#tabDuesSetiembre').addClass('active');
                        loadTable(dadesDuesSeptiembre);
                        break;
                    case 10:
                        $('#tabDuesOctubre').addClass('active');
                        loadTable(dadesDuesOctubre);
                        break;
                    case 11:
                        $('#tabDuesNoviembre').addClass('active');
                        loadTable(dadesDuesNoviembre);
                        break;
                    case 12:
                        $('#tabDuesDiciembre').addClass('active');
                        loadTable(dadesDuesDiciembre);
                        break;
                    default:
                        break
                }
                break
            case 'AES':
                $('#tabAes').removeClass('fade').addClass('active')
                $('#tabDues').removeClass('active').addClass('fade')
                switch (mesActual) {
                    case 1:
                        $('#tabAesEnero').addClass('active');
                        loadTable(dadesAesEnero);
                        break;
                    case 2:
                        $('#tabAesFebrero').addClass('active');
                        loadTable(dadesAesFebrero);
                        break;
                    case 3:
                        $('#tabAesMarzo').addClass('active');
                        loadTable(dadesAesMarzo);
                        break;
                    case 4:
                        $('#tabAesAbril').addClass('active');
                        loadTable(dadesAesAbril);
                        break;
                    case 5:
                        $('#tabAesMayo').addClass('active');
                        loadTable(dadesAesMayo);
                        break;
                    case 6:
                        $('#tabAesJunio').addClass('active');
                        loadTable(dadesAesJunio);
                        break;
                    case 7:
                        $('#tabAesJulio').addClass('active');
                        loadTable(dadesAesJulio);
                        break;
                    case 8:
                        $('#tabAesAgosto').addClass('active');
                        loadTable(dadesAesAgosto);
                        break;
                    case 9:
                        $('#tabAesSetiembre').addClass('active');
                        loadTable(dadesAesSeptiembre);
                        break;
                    case 10:
                        $('#tabAesOctubre').addClass('active');
                        loadTable(dadesAesOctubre);
                        break;
                    case 11:
                        $('#tabAesNoviembre').addClass('active');
                        loadTable(dadesAesNoviembre);
                        break;
                    case 12:
                        $('#tabAesDiciembre').addClass('active');
                        loadTable(dadesAesDiciembre);
                        break;
                    default:
                        break
                }
                break
        }
    }

    function loadTable(dades) {

        taula = $('#table').DataTable({
            select: 'single',
            "destroy": true,
            "scrollY": alturaScrollY,
            "scrollCollapse": true,
            "paging": false,
            "searching": false,
            "bInfo": false,
            "data": dades,
            //"data": <%- dadesDuesNoviembre %>,
            "columns": [
                {"data": 'id'},
                {"data": 'colectivo'},
                {"data": 'unidad'},
                {"data": 'turno'},
                {"data": 'dia'},
                {"data": 'licencia'},
                {"data": 'cubre'},
                {"data": 'notas'}
            ],
            columnDefs: [
                {targets: 0, visible: false},
                {targets: 1, visible: false}
            ]
        });
    }

    $('#table tbody').on( 'click', 'tr', function () {
        if ($(this).hasClass('selected')) {
            $(this).removeClass('selected');
            idSolicitud = null
        } else {
            taula.$('tr.selected').removeClass('selected');
            $(this).addClass('selected');
            idSolicitud = $('#table').DataTable().row(this).data().id;
        }
    });

    $('#tabDues').click(() => {
        $('#dues').removeClass('fade').addClass('active')
        $('#aes').removeClass('active').addClass('fade')
        //app.locals.colectiuTreball = 'DUES'
        loadTab()
    })

    $('#tabAes').click(() => {
        $('#aes').removeClass('fade').addClass('active')
        $('#dues').removeClass('active').addClass('fade')
        //app.locals.colectiuTreball = 'AES'
        loadTab()
    })

    $("#eliminar").click(function () {
        let solicitud = app.locals.idSolicitud
        if (solicitud == null) return window.alert("Debes seleccionar una solicitud primero.")
        //ipcRenderer.send('set-from', 'solicitudes')
        window.location.href = '/solicitudes/eliminar'
    })

    $("#actualizar").click(function () {
        if (idSolicitud === null) return window.alert("Debes seleccionar una solicitud primero.")
        //ipcRenderer.send('set-from', 'solicitudes')
        window.location.href = '/solicitudes/actualizar'
    })

    $('#anyadir').click(function () {
        //ipcRenderer.send('set-from', 'solicitudes')
        window.location.href = '/solicitudes/anyadir'
    })

</script>

