<!-- "SOLICITUDES", "DUES", "AES", botons... -->
<div id="divBotons" class="container-fluid">
    <div class="row">
        <div class="col">
            <h2 class="text-primary text-center">SOLICITUDES</h2>
        </div>
        <div class="col">
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a id="tabDues" onclick="loadTab('DUES')" class="nav-link" data-toggle="pill" href="#">DUES</a>
                </li>
                <li class="nav-item">
                    <a id="tabAes" onclick="loadTab('AES')" class="nav-link" data-toggle="pill" href="#">AES</a>
                </li>
            </ul>
        </div>
        <div class="col btn-group contenedor">
            <% if (levelAccess === 'admin') { %>
                <button id="eliminar" class="btn btn-danger rounded contenido">Eliminar</button>
                <button id="actualizar" class="btn btn-warning rounded contenido">Actualizar</button>
            <% } %>
        </div>
    </div>
</div>

<!-- taula -->
<div id="tableContainer" class="row">
    <div class="col">
        <table id="table" class="table table-bordered table-sm table-hover">
            <thead>
            <tr>
                <th>ID</th>
                <th>COLECTIVO</th>
                <th>UNIDAD</th>
                <th>TURNO</th>
                <th>FECHA</th>
                <th>LICENCIA</th>
                <th>CUBRE</th>
                <th>NOTAS</th>
            </tr>
            </thead>
        </table>
    </div>
</div>

<script>

    let alturaScrollY = $(window).height()
        - $('#linksGransIPetits').height()
        - $('#divBotons').height()
        - 60 + 'px';

    let idSolicitud = null;
    let taula = null;

    let variables = null;
    let variablesAux = null;

    switch (<%- colectiuTreball %>) {
        case 'DUES':
            $('#tabDues').removeClass('fade').addClass('active')
            loadTable(<%- dadesDues %>)
            break
        case 'AES':
            $('#tabAes').removeClass('fade').addClass('active')
            loadTable(<%- dadesAes %>)
            break
    }

    function loadTab(taula) {
        switch (taula) {
            case 'DUES':
                actualitzarColectiuTreball('DUES');
                loadTable(<%- dadesDues %>);
                break;
            case 'AES':
                actualitzarColectiuTreball('AES');
                loadTable(<%- dadesAes %>);
                break;
        }
    }

    function loadTable(dades) {

        taula = $('#table').DataTable({
            select: 'single',
            "destroy": true,
            "scrollY": alturaScrollY,
            "scrollCollapse": true,
            "paging": false,
            "searching": false,
            "bInfo": false,
            "data": dades,
            "columns": [
                {"data": 'id'},
                {"data": 'colectivo'},
                {"data": 'unidad'},
                {"data": 'turno'},
                {"data": 'dia'},
                {"data": 'licencia'},
                {"data": 'cubre'},
                {"data": 'notas'}
            ],
            "order": [4, 'asc'],
            columnDefs: [
                {targets: 0, visible: false},
                {targets: 1, visible: false},
                {targets: 4, render: $.fn.dataTable.render.moment('DD/MM/YYYY', 'DD/MM/YYYY')}
            ]
        });
    }

    $('#table tbody').on( 'click', 'tr', function () {
        if ($(this).hasClass('selected')) {
            $(this).removeClass('selected');
            idSolicitud = null
        } else {
            taula.$('tr.selected').removeClass('selected');
            $(this).addClass('selected');
            idSolicitud = $('#table').DataTable().row(this).data().id;
        }
    });

    $('#table tbody').on( 'dblclick', 'tr', async function () {

        idSolicitud = $('#table').DataTable().row(this).data().id;

        let response = await fetch('/solicitudes/id', {
            method: 'POST',
            body: JSON.stringify({
                id: idSolicitud
            }),
            headers: {
                "Content-type": "application/json; charset=UTF-8"
            }
        })
            .then(response => {
            })
            .catch(error => {
                console.log(error.message)
            })

        window.location.href = '/solicitudesPendientes/actualizarPendientes'

    });

    async function actualitzarColectiuTreball(colectiu) {

        let response = await fetch('/solicitudesPendientes/variablescolectiu', {
            method: 'POST',
            body: JSON.stringify({
                colectiu: colectiu
            }),
            headers: {
                "Content-type": "application/json; charset=UTF-8"
            }
        })
        .then(response => {})
        .catch(error => {console.log(error.message)})
    }

    $('#tabDues').click(async () => {

        await actualitzarColectiuTreball('DUES')

        loadTab('DUES')

    })

    $('#tabAes').click(async () => {

        await actualitzarColectiuTreball('AES')

        loadTab('AES')

    })

    $("#eliminar").click(async function () {
        if (idSolicitud === null) return window.alert("Debes seleccionar una solicitud primero.")

        let response = await fetch('/solicitudesPendientes/id', {
            method: 'POST',
            body: JSON.stringify({
                id: idSolicitud
            }),
            headers: {
                "Content-type": "application/json; charset=UTF-8"
            }
        })
            .then(response => {
            })
            .catch(error => {
                console.log(error.message)
            })

        window.location.href = '/solicitudesPendientes/eliminarPendientes'
    })

    $("#actualizar").click(async function () {

        if (idSolicitud === null) return window.alert("Debes seleccionar una solicitud primero.")

        let response = await fetch('/solicitudes/id', {
            method: 'POST',
            body: JSON.stringify({
                id: idSolicitud
            }),
            headers: {
                "Content-type": "application/json; charset=UTF-8"
            }
        })
            .then(response => {})
            .catch(error => {console.log(error.message)})

        window.location.href = '/solicitudesPendientes/actualizarPendientes'
    })

</script>

